/* 

!=-=-=-=-=-=-=-=-=-=-

?      Styles

!=-=-=-=-=-=-=-=-=-=-

*/

.nav {
  position: fixed;
  top: 2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 99999;
  display: flex;
  justify-content: center;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(0.3rem);
  background-color: #00000051;
  margin: 0 auto;
  width: 100%;
  padding: 0.5rem 3rem;
  border-radius: 2rem;
  position: relative;
}

.navLeft {
  display: flex;
  align-items: center;
}

.navLeftBtnLanMobile {
  flex-direction: column;
  margin-top: 2rem;
}

.navLeftBtnLanMobile,
.navLeftBtnLan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.navLeftBtnLanMobile div,
.navLeftBtnLan div {
  background-color: #ffffff0d;
  color: white;
  font-weight: 200;
  display: flex;
  border-radius: 20px;
  padding: 5px;
  gap: 5px;
  border: 1px solid #313131;
}

.navLeftBtnLanMobile div span,
.navLeftBtnLan div span {
  padding: 5px 15px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 20px;
  transition: all 0.15s ease-in;
}

.navLeftBtnLanMobile div span:hover,
.navLeftBtnLan div span:hover {
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    #ff7d19 0%,
    #e56300 100.3%
  );
}

.navLeftBtnLanActive {
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    #ff7d19 0%,
    #e56300 100.3%
  );
}

.navUserGroupMobile,
.navUserGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navUserGroupMobile {
  background-color: transparent !important;
  border: none !important;
  margin-top: 3rem;
  flex-direction: column-reverse;
}

.btnLogout {
  background: transparent;
  border: 1px solid #313131;
  color: var(--color-959595);
  font-size: 1.3rem;
  font-weight: 200;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  font-family: azarmehr;
  font-weight: 300;
}

.btnLogout:hover {
  color: var(--color-FD6F00);
  border-color: var(--color-FD6F00);
  text-shadow: 0px 0px 0.3rem var(--color-FD6F00);
}

.navLeftLanSelected {
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    var(--color-FD6F00) 0%,
    var(--color-be5300) 100.3%
  );
}

.navList {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 4rem;
  gap: 5rem;
}

[dir="ltr"] .navList {
  margin-left: 4rem;
}

.navListItem {
}

.navListItemLink {
  color: var(--color-959595);
  font-weight: 200;
  transition: all 150ms ease-in-out;
  font-size: 1.7rem;
}

.navListItemLink:hover {
  color: var(--color-FD6F00);
  text-shadow: 0px 0px 0.3rem var(--color-FD6F00);
}

.navMiddle {
}

.navRight {
}

.btnFlip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 4rem;
  position: relative;
  text-align: center;
  letter-spacing: 0.1rem;
  display: inline-block;
  text-decoration: none;
}

.btnFlip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.btnFlip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.btnFlip:after,
.btnFlip:before {
  top: 0;
  left: 0;
  width: 15rem;
  color: var(--color-FFFFFF);
  display: block;
  transition: 0.5s;
  background: var(--color-FD6F00);
  border-radius: 1rem;
}

.btnFlip:after {
  opacity: 0;
  position: absolute;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
  box-shadow: 0 0 1rem rgb(253, 111, 0);
}

.btnFlip:before {
  opacity: 1;
  line-height: 4rem;
  position: relative;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}

.navBtn {
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 999;
}

.navBtnLine {
  width: 3rem;
  height: 0.3rem;
  display: block;
  background-color: var(--color-FD6F00);
  border-radius: 2rem;
  position: relative;
}

.navBtnLine::before,
.navBtnLine::after {
  content: "";
  width: 3rem;
  height: 0.3rem;
  border-radius: 2rem;
  display: block;
  background-color: var(--color-FD6F00);
  position: absolute;
}

.navBtnLine::before {
  top: 0.8rem;
}

.navBtnLine::after {
  bottom: 0.8rem;
}

.menuMobile {
  display: none;
  overflow-x: auto;
}

.menuMobileOpen {
}

.menuMobileHeade {
  text-align: center;
}

.menuMobileCloseBtn {
}

.menuMobileCloseBtnLine {
}

.menuMobileList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menuListItem {
}

.menuListItemLink {
  position: relative;
  transition: all 150ms ease-in-out;
  font-weight: 200;
  font-size: 1.7rem;
  color: var(--color-959595);
}

.menuListItemLink:hover {
  padding-right: 2rem;
  color: var(--color-FD6F00);
  text-shadow: 0px 0px 0.3rem var(--color-FD6F00);
}

.menuListItemLink::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto 0;
  display: block;
  width: 0;
  height: 0.3rem;
  border-radius: 2rem;
  background-color: var(--color-FD6F00);
  transition: all 150ms ease-in-out;
}

.menuListItemLink:hover::before {
  width: 1.5rem;
}

.menuMobileBtn {
  width: 100%;
  margin: 2rem auto;
  padding: 1rem 2rem;
}

.backgroundCover {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
  display: none;
}

.backgroundCoverOpen {
  opacity: 1;
  visibility: visible;
}

/* 

!=-=-=-=-=-=-=-=-=-=-

?     Responsive

!=-=-=-=-=-=-=-=-=-=-

*/

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  .navList {
    gap: 4rem;
    margin-right: 2.5rem;
  }
}

@media (max-width: 992px) {
  .navListItemLink {
    font-size: 1.4rem;
  }
  .btnFlip:after,
  .btnFlip:before {
    width: 10rem;
    font-size: 1.2rem;
    line-height: 3.2rem;
  }
  .navLogo {
    font-size: 25px !important;
    height: 4rem !important;
  }
  .navList {
    gap: 2rem;
    margin-right: 2.5rem;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 72rem) {
  .navList {
    display: none;
  }
  .navLeftBtnLan div {
    display: none;
  }
  .navBtn {
    display: flex;
  }
  .btnFlip {
    order: -1;
  }
  .btnFlip:after {
    content: "";
  }
  .btnFlip:hover:before {
    opacity: 1;
    transform: translateY(0) rotateX(0);
  }
  .menuMobile {
    position: fixed;
    background-color: var(--bgc-primary);
    top: 0;
    right: 0;
    transform: translateX(100%);
    bottom: 0;
    width: 25rem;
    padding: 2.5rem;
    transition: transform 200ms ease-in-out;
    z-index: 100;
    border-left: 1px solid var(--color-FD6F00);
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .menuMobileOpen {
    transform: translateX(0);
  }
  .backgroundCover {
    display: block;
  }
}

@media (max-width: 576px) {
}

@media (max-width: 476px) {
  .btnFlip {
    display: none;
  }
}
